html
  head
    title UserID
  body(style='display: flex;justify-content:center;align-items:center;')
    h1(style='font-size:8em; color:#333;font-family:sans-serif;')= user
    script.
      console.log(`reloaded: ${new Date()}`)
      window.setTimeout(() => {
        location.reload();
      }, 10000)
